.header-logo{
  display: none!important;
}
[role="menu"] button.text-red-900{
    display: none!important;
}
#main-footer .microphone,#main-footer .camera{
    display: none!important;
}
#startupJoinModal .microphone{
    display: none!important;
}
